* {
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center, space-around;
}

.conatiner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}