* {
    box-sizing: border-box;
}

html { 
    background: url(wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

@media screen and (max-width: 800px) {

    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center, space-between;
        font-family: 'Armata', sans-serif;
        color: white;
        text-shadow: 1px 1px grey;
        
    }

    h1, h2 {
        background: rgb(46, 106, 134);
        padding: 2px;
        margin-left: auto;
        margin-right: auto;
    }

    #card-input {
        border-radius: 5px;
        font-family: 'Armata', sans-serif;
        padding: 5px;

    }

    #submit-button {
        border-radius: 5px;
        padding: 5px;
        font-family: 'Armata', sans-serif;
    }

    .welcome {
        margin: 10px;
        padding: 2px;
        background: rgb(46, 106, 134);
        opacity: .9;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 5px;
        background: rgb(46, 106, 134);
        opacity: .9;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card h2 {
        font-family: 'Noto Serif JP', serif;
        
    }

    .card img {
        width: 150px;
        
    }

    .card ul {
        width: 50%;
    }

    .card li{
        font-family: 'Martel', serif;
        list-style: none;
        font-size: 14px;
        text-align: left;
    }

}

@media screen and (min-width: 801px) {

    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Armata', sans-serif;
        color: white;
        text-shadow: 1px 1px grey;
        
    }

    h1, h2 {
        background: rgb(46, 106, 134);
        padding: 2px;
        margin-left: auto;
        margin-right: auto;
    }

    #card-input {
        border-radius: 5px;
        font-family: 'Armata', sans-serif;
        padding: 5px;

    }

    #submit-button {
        border-radius: 5px;
        padding: 5px;
        font-family: 'Armata', sans-serif;
    }

    .welcome {
        background: rgb(46, 106, 134);
        opacity: .9;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }

    .results {
        display: flex;
        flex-wrap: wrap;

    }

    .result-box {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    }

    .card {
        display: flex;
        justify-content: center, space-around;
        align-items: center;
        margin-top: 20px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .card h2 {
        font-family: 'Noto Serif JP', serif;
        margin-left: auto;
        margin-right: auto;
        
    }

    .card img {
        width: 200px;
        
    }

    .card ul {
        width: 50%;
        border: 3px solid rgb(46, 106, 134);
        background: grey;
        opacity: .9;
        margin-left: 10px;
    }

    .card li{
        font-family: 'Martel', serif;
        list-style: none;
        font-size: 14px;
        text-align: left;
    }

}